* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  /* width: 100%; */
  height: 100vh;
  background-image: url(./a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  text-align: center;
  margin: 2rem 20% 2rem;
}
main h1 {
  background: linear-gradient(to right, rgb(255, 0, 0), blue);
  background-clip: text;
  color: transparent;
  animation: anime 2s infinite alternate;
  font-size: 45px;
  margin-bottom: 1.5rem;
}
@keyframes anime {
  100% {
    background: linear-gradient(to right, blue, red);
    background-clip: text;
    color: transparent;
  }
}


form input{
    width: 20%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    box-shadow: 0 0 10px black;
    margin-left: 0.5rem;
    outline: none;
}
form button {
    margin: 0 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}
form input:hover{
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.542);
}

.listdiv{
    width: 800px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    padding: 0.5rem 0.2rem;
    color: white;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 10px 10px 20px rgb(19, 19, 19);
    align-items: center;

}
.listname{
    width: 20%;
}
.place{
  width: 20%;
}
.btn0{
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 16px;
}


@media screen and (max-width: 400px) {
  body{
    margin: 2rem 10% 2rem;
  }
  main h1 {
    font-size: 26px;
    margin-bottom: 1rem;
  }
  form input {
    width: 100%;
    margin: 0.2rem;
  
  }
  form button {
    margin: 0.5rem 0.5rem;
}

.listdiv {
  width: auto;
  background-color: transparent;
  margin: 0.1rem 0;
  padding: 0.1rem 0.1rem;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 16px;
  box-shadow: 0 5px 10px black;
  align-items: center;
}
.listname{
  font-size: 12px;
  width: 20%;
}
.place{
width: 20%;
font-size: 12px;
}
.btn0 {
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 7px;
}

}